.sign-in {
	@apply whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 cursor-pointer;
}

.sign-up-btn {
	@apply ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700;
}

.popover {
	&-btn {
		@apply bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
	}
	&-panel {
		@apply absolute z-10 -ml-4 mt-3 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2;
	}
}

.popover {
	@apply relative;

	&-container {
		@apply max-w-7xl mx-auto px-4 sm:px-6;

		&-wrapper {
			@apply flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10;

			.logo {
				@apply flex justify-start lg:w-0 lg:flex-1;

				.images {
					@apply h-8 w-auto sm:h-10;
				}
			}

			.usernames {
				@apply text-indigo-700 font-semibold;
			}
		}
	}
}

.dropdown {
	display: inline-block;
	position: relative;
}
.dropdown-content {
	@apply bg-indigo-600 text-white hover:bg-indigo-400 absolute right-0 p-4 m-0;
	display: none;
	min-width: 12rem;
	z-index: 1;
	border-radius: 0.5rem;
	border-style: double;
}
.dropdown:hover .dropdown-content {
	display: block;
}
